#nav {
  background: #fff;
  &-a {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: $color-secondary;
  }
  &-a:hover {
    color: $color-yellow;
  }
  &-icon {
    font-size: 1.3rem;
    color: $color-secondary;
  }
  .blog {
    margin-right: 20rem;
  }
  .navbar-toggler-icon {
    color: $color-secondary;
  }
  .navbar-toggler {
    background: $color-yellow;
  }
}
